#container{
	margin:0 auto;
	width:100%;
}

#header{
	font-size:28px;
	font-family: Blippo,fantasy;
	padding: 10px;
	color:#753175;
	background-color:#bba8bb;
	animation-name:header;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes header{
	0%{	text-shadow:0px 0px 0px black;}
	20%{text-shadow:1px 1px 5px black;}
	40%{text-shadow:3px 5px 2px black;}
	60%{text-shadow:5px 5px 2px black;}
	80%{text-shadow:-5px 5px 2px black;}
	90%{text-shadow:0px 0px 0px black;}
	94%{text-shadow:1px 1px 5px black;}
	98%{text-shadow:3px 5px 2px black;}
	100%{text-shadow:5px 5px 2px black;}
}

h2{
	font-size:30px;
	font-family: Blippo,fantasy;

}

h3{
	font-size: 20px;
	font-family: Blippo,fantasy;
}

#maincontainer{
	float:left;
	width:100%;
}

#content{
	clear: left;
	float:left;
	width:75%;
	padding:20px 0;
	display:inline;
}

#navigator{
	float:left;
	width:100%;
	font-size:23px;
	background-color:#d9d5dcc7;
}

#navigator ul li{
	list-style-type: none;
	display:inline;
}

#navigator li a{
	display:inline-block;
	text-decoration: none;
	border-right: 2px solid #753175;
	padding:3px 10px;
	float:none;
}

#navigator li a:hover{
	background-color: #bba8bb;
}

#paragraph{
	font-size: 20px;
	font-family: Courier,monospace;
	text-indent: 20px;
}

blockquote{
	font-size:17px;
	font-family: Courier,monospace;
}

cite{
	font-family: Helvetica,sans-serif;
	font-weight: bold;
	font-size:15px;
}

#sidebar{
	float:right;
	width:20%;
	padding:20px 0;
	margin:0;
	display: inline;
	color:#784780;
	background-color:#d9d5dcc7;
}

h4{
	font-size:20px;
}

#sidebar ul li{
	list-style-type:none;
	font-size:20px;
}

#sidebar ul img{
	margin:10px;
}

#sidebar li a{
	text-decoration: none;
}

cite{
	animation-name:colorchange;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes colorchange{
	0%{color:red;}
	50%{color:blue;}
	70%{color:green;}
	100%{color:#784780;}
}

#footer{
	clear:left;
	text-align: center;
	font-family: Blippo,fantasy;
	padding: 20px;
	height: 1%;
	color:#753175;
	background-color: #bba8bb;
}